
  <section class="index_main">
    
    <div class="title_who">
      <h2 class="section-heading">Who are the WONS?</h2>
    </div>
    
    <div class="contents">
      <div class="d_left">
          
        <div class="team-member">
              <img src="images/index/wonH.jpg" class="img-responsive img-circle" alt="" id="img_wonH">
              <h4>Won H</h4>
              <p class="text-muted">Application Developer</p>
              <ul class="list-inline social-buttons">
                  <li><a href="#"><i class="fa fa-facebook"></i></a>
                  </li>
                  <li><a href="#"><i class="fa fa-linkedin"></i></a>
                  </li>
              </ul>
         </div>
         
         
         <div class="enter align_r">
          <!--<i class="fa fa-caret-left"></i>-->
          <span class="cursor-hand" ng-click="goSite('wonH')"><i class="fa fa-chevron-circle-left"></i> ENTER</span>
         </div>
         
         
      </div>
      <div class="d_center">
        <img src="images/index/dot.jpg" width="2" />
      </div>
      <div class="d_right">
        <div class="team-member">
              <img src="images/index/Hwon.jpg" class="img-responsive img-circle" alt="" id="img_Hwon">
              <h4>H Won</h4>
              <p class="text-muted">Web Developer</p>
              <ul class="list-inline social-buttons">
                  <li><a href="#"><i class="fa fa-facebook"></i></a>
                  </li>
                  <li><a href="#"><i class="fa fa-linkedin"></i></a>
                  </li>
              </ul>
          </div>
         <div class="enter align_l">
          <!--<i class="fa fa-caret-right"></i>-->
          <span class="cursor-hand" ng-click="goSite('Hwon')">ENTER <i class="fa fa-chevron-circle-right"></i></span>
         </div>
      </div>
    </div>
    
  </section>
    
  <script type='text/javascript' src='js/wons.js'></script>
