    <div ng-include src="headUrl"></div>
    <section id="about" ng-include src="aboutUrl">
    </section>

    <!-- Portfolio Grid Section -->
    <section id="portfolio" class="bg-light-gray" ng-include="portfolioUrl">
    </section>

    <!-- Portfolio Modals -->
    <!-- Use the modals below to showcase details about your portfolio projects! -->

    <div ng-include="portfolioModelUrl">
    </div>


    <!-- Career Section -->
    <section id="career" ng-include="careerUrl">
    </section>

    <!-- Team Section -->
    
    <section id="team" class="bg-light-gray" ng-include="teamUrl">
    </section>
    
    <section id="contact" class="bg-light-gray" ng-include="contactUrl">
    </section>
    <!-- jQuery -->
    <script src="sites/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="sites/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="sites/js/jquery.easing.min.js"></script>
    <script src="sites/js/classie.js"></script>
    <script src="sites/js/cbpAnimatedHeader.js"></script>

    <!-- Contact Form JavaScript -->
    <script src="sites/js/jqBootstrapValidation.js"></script>
    <script src="sites/js/contact_me.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="sites/js/agency.js"></script>